.button {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 25px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.1s all ease-in-out;
}

.secondary {
  background-color: #edf3f6;
}

.secondary:hover {
  background-color: #eaedee;
}

.secondary:active {
  background-color: #d5dbdd;
}

.primary {
  background-color: #0069ff;
  color: rgba(255, 255, 255, 1);
}

.primary:hover {
  background-color: #005fe6;
}

.primary:active {
  background-color: #0056cf;
}

.small {
  font-size: 12px;
  font-weight: bold;
  padding: 6px 12px;
}

.large {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 35px;
}
